# deer environment (non-Qwen3 / legacy vLLM stack)
vllm==0.6.1
tqdm
datasets
torch
transformers==4.46.3
tokenizers==0.20.3
python_dateutil

# math_eval
sympy==1.12
antlr4-python3-runtime==4.11.1
word2number
Pebble
timeout-decorator
latex2sympy2==1.9.1
